<form class="add-form" (ngSubmit)="onSubmit()">
      <div class="form-control">
            <label for="text">Task</label>
            <input type="text" name="text" id="text" placeholder="Add Task Text"[(ngModel)]="text">
      </div>
      <div class="form-control">
            <label for="text">Day & time</label>
            <input type="text" name="day" id="day" placeholder="Add Day & time" [(ngModel)]="day">
      </div>
      <div class="form-control">
            <label for="text">Reminder</label>
            <input type="checkbox" name="reminder" id="reminder" placeholder="Add Day & time" style="width: 20px;"
            [(ngModel)]="reminder">
      </div>
      <input type="submit" value="Save Task" class="btn btn-block">

      
</form>
