<div class="card BarraSkills" id="Inicio" style="width: 100%; height: max-content;">
  <div class="card-body">
    <div class="row justify-content-start">
      <div class="col-4 " id="col-titulo">
        <h2 class="card-title" id="Nombre">
          Skills
        </h2>
      </div>
      <div class="col-8" id="col-btn">
        <!--boton de lapiz-->
        <a type="" class=""  *ngIf="generalService.vistabtn">
          <i class="bi bi-pencil lapiz" id="btn-edicion" data-bs-toggle="modal" data-bs-target="#editarskills"></i>
          <i class="bi bi-trash2" id="btn-edicion" data-bs-toggle="modal" data-bs-target="#eliminarskills"></i>
          <i class="bi bi-plus" id="btn-edicion" data-bs-toggle="modal" data-bs-target="#agregarskills"></i>

        </a>
      </div>
    </div>
    <!--Barra de progreso-->
    <li *ngFor="let skills of skillsList" >
      <img [src]="skills.img" alt="">
      <h3>{{skills.titulo}}</h3>
      <p>{{skills.porcentaje}}</p>
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-label="Default striped example"
          [style.width.%]="skills.porcentaje" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </li>
    <a routerLink="/proyectos" class="btn btn-sm d-flex justify-content-center">
      <i class="bi bi-chevron-compact-down"></i>
    </a>
  </div>
</div>

<!--Modal de edicion-->
<div class="modal fade" id="editarskills" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Skills</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formulario" (submit)="editarSkills()">
          <select class="form-control" formControlName="id" aria-label="Default select example">
            <option selected>ID</option>
            <option value="1">Uno</option>
            <option value="2">Dos</option>
            <option value="3">Tres</option>
            <option value="4">Cuatro</option>
          </select>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Icono</label>
            <input type="email" class="form-control" formControlName="imagen" id="exampleFormControlInput1"
              placeholder="">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Titulo</label>
            <input type="email" class="form-control" formControlName="titulo" id="exampleFormControlInput1"
              placeholder="">
          </div>         
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal para eliminar-->
<div class="modal fade" id="eliminarskills" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <select class="form-select" aria-label="Default select example">
            <option selected>ID</option>
            <option value="1">Uno</option>
            <option value="2">Dos</option>
            <option value="3">Tres</option>
          </select>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>

<!--Modal de agregar nuevo-->
<div class="modal fade" id="agregarskills" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Skills</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formulario" (submit)="editarSkills()">
          <select class="form-control" formControlName="id" aria-label="Default select example">
            <option selected>ID</option>
            <option value="1">Uno</option>
            <option value="2">Dos</option>
            <option value="3">Tres</option>
            <option value="4">Cuatro</option>
          </select>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Icono</label>
            <input type="email" class="form-control" formControlName="imagen" id="exampleFormControlInput1"
              placeholder="">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Titulo</label>
            <input type="email" class="form-control" formControlName="titulo" id="exampleFormControlInput1"
              placeholder="">
          </div>         
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>